<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/myCSS.css}"/>
</head>
<body>
<header>
    <br>
    <br>
    <br>
    <h2 align="center" style="font-family: 'B Nazanin', serif;">برنامه تعمیرات و نگهداری</h2>
   <div class="menuDiv">
       <ul class="menu">
           <li><a th:href="@{/equipment/}">پایش وضعیت </a></li>
           <li><a href="#news">مدیرت منابع</a></li>
           <li><a href="#contact">سیستم اعلام اخطار</a></li>
           <li><a href="#about">انبارداری</a></li>
       </ul>
   </div>
</header>
</body>
</html>